html {
    height: 100%;
    width: 100%;
  }
  
  body {
    color: white;
    background-image: url(img/fundoRoxo.png);
    text-align: center;
  }
  
  header {
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .container {
    width: 750px;
    height: 400px;
    background-color: mediumpurple;
    border-radius: 1em;
    border-color: white;
    border-style: solid;
    display: flex;
    margin: 0 auto;
  }
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: Lato, sans-serif;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  input {
    width: 250px;
    height: 20px;
    font-size: 16px;
  }
  
  select {
    width: 250px;
    height: 20px;
    font-size: 16px;
  }
  
  button {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: white;
    background-color: #40016a;
    border-style: solid;
    border-color: black;
    margin-top: 35px;
    width: 200px;
    height: 35px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: black;
  }